@import "reset.css";

*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100%;
    padding: 10px;
}

.body-container{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr 150px;
    width: 100%;
    height: 100%;
    gap: 3px;
    background-color: black;
    border: 3px solid black;
}

.body-container section{
    padding: 9px;
    background-color: white;
}

/* main-component */
.main-component{
    line-height: 1.2;
}

.main-component h3{
    font-weight: 600;
    margin-bottom: 30px;
}

.main-component p{
    width: 60%;
    font-size: 20px;
    margin-bottom: 10px;
}

.main-component .main-component__explan{
    width: 100%;
    font-size: 14px;
}

.a1-office{
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a1-office .main-component p{
    width: 100%;
}

.a1-office nav ol{
    margin: 0 -7px;
    border-top: 1px solid black;

}

.a1-office nav li{
    padding: 5px;
    text-transform: uppercase;
    list-style: none;
    border-bottom: 1px solid black;
}

.a1-office nav li:hover{
    background-color: rgba(128, 128, 128, 0.548);
    cursor: pointer;
}

.a1-office footer{
    font-size: 10px;
}

.a1-office footer div{
    margin: 20px 0;
    line-height: 1.3;
}

.a1-office footer span{
    font-weight: bold;
}

.a1-office .translation a:first-child{
border-right: 1px solid black;
padding-right: 6px;
}

.home{
    grid-row: 1/2;
    grid-column: 2/3;
}

.services{
    grid-row: 2/3;
    grid-column: 2/3;
}

.services .main-component p{
    font-size: 20px;
}

section.main-img{
    padding:0;
    background-color: black;
    grid-row: 1/2;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3px;
}

.main-img--left{
    background:url(./img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-img--right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr 1fr 1fr;
    gap: 3px;
}

.main-img--right div:first-child{
    background: url(./img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/4;
    grid-row:1/2;
}

.main-img--right div:nth-child(2){
    background: url(./img/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/3;
    grid-row:2/3;
}

.main-img--right div:nth-child(3){
    background: url(./img/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 3/4;
    grid-row:2/3;
}

.main-img--right div:nth-child(4){
    background: url(img/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row:3/4;
}

.main-img--right div:last-child{
    background: url(./img/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 2/4;
    grid-row:3/4;
}

section.sub-img{
    padding: 0;
    background-color: black;
    grid-row: 2/3;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: repeat(2,1fr);
    gap: 3px;
}

.sub-img div:first-child{
    background: url(./img/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/2;
    grid-row:1/3;
}

.sub-img div:nth-child(2){
    background: url(./img/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2/3;
    grid-row:1/2;
}

.sub-img div:nth-child(3){
    background: url(./img/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2/3;
    grid-row:2/3;
}

.sub-img div:last-child{
    background: url(./img/10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 3/4;
    grid-row:1/3;
}